{% extends 'layout.html' %}  <!-- Aquí se extiende el archivo layout.html -->
{% block title %}Index{% endblock %}

{% block content%}  <!-- Aquí se carga el contenido de la página de inicio, usando el bloque content -->
    <div class="Inicio-body">
        <h1>Bienvenido a INFINITY ROL</h1>
        <p>Prototipo de Juego de rol inspirado de Dungeons and Dragons</p>
        <p>Este proyecto es parte de la asignatura de Taller de desarrollo de aplicaciones te invitamos a registrarte para comenzar</p>
        <p>Desarrollado por el grupo BUGSBUSTERS</p>
        <p>Integrantes:
            <ul>
                <li>Sebastian Figueroa : Bug chaser</li>
                <li>Adolfo Fernandez : Bug I am a Developer</li>
                <li>Jorge Manriquez : Bug Sql Expert</li>
            </ul>
        </p>
    </div>
{% endblock %}      <!-- Aquí se cierra el bloque  -->


