{% extends 'pokedex/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Buscar Pokémon</h1>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="name" class="form-control" placeholder="Nombre del Pokémon que quieres tener en tu lista ej: charizard">
            <small>Los Pokemones que busques seran enviados a "Pokemones" donde tendras multiples opciones por realizar"</small>
          </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
</div>

{% if request.GET.login_success %}
<script>
  Swal.fire({
    icon: 'success',
    title: '¡Bienvenido de nuevo! {{ request.user.username }}',
    text: 'Has iniciado sesión correctamente.'
  }).then((result) => {
    if (result.isConfirmed) {
      window.location.href = "{% url 'buscar_pokemon' %}";
    }
  });
</script>
{% endif %}
{% endblock %}